@page
@model VirtualBank.Pages.MainPage.IndexModel
@{
}
<head>
	 <link rel="stylesheet" href="~/css/MainPage/Index.css" asp-append-version="true"/>

</head>

<br>


<body class="">
	<div class="container-fluid">
		<div class="row">
			<button class="btn btn-info"> Button </button> &nbsp &nbsp &nbsp &nbsp
			<button class="btn btn-info"> Button </button> &nbsp &nbsp &nbsp &nbsp
			<button class="btn btn-info"> Button </button> &nbsp &nbsp &nbsp &nbsp
			<button class="btn btn-info"> Button </button>
		</div>
		<div class="row">
			<p>@Model.path</p>
			<p>@Model.Usuario.Nome</p>
		</div>
	</div>


</body>
